/* =============== RESET ================-> resetar o CSS (pois o navegador já tem seu css simples de início de página*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* usado para tirar as linhas de links
  */
}

img {
  width: 100%;
  height: auto;
}

/*============ VARIABLES ===============*/
:root {
  --header-height: 4.5rem;
  /* root é o "paizão" de todos*/
  /* font-size: 100%; --> 16px */

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

/* ============== BASE ==================*/
body {
  font: 400 1rem 'DM Sans', sans-serif;
  color: var(--text-color);
  background: var(--body-color);
  -webkit-foot-smoothing: antialiased;
  /* webkit é uma propriedade que tem em alguns navegadores (ex.: chrome) e quando definimos 'antialiased' o navegador vai suavizar a fonte da qual queremos */
}

h1 {
  font: 700 1.875rem 'Poppins', sans-serif;
  color: var(--title-color);
  -webkit-font-smoothing: auto;
}

.button {
  color: var(--color);
}

/* =============== LAYOUT ===============*/
#header {
  border-bottom: 1px solid #e4e4e4;
}

nav {
  height: 4.5rem; /*16px . 4.5rem = 72px*/
  display: flex;
  justify-content: space-between;
}

.logo {
  font: 700 1.31rem 'Poppins', sans-serif;
  color: var(--title-color);
}

.logo span {
  color: var(--base-color);
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  /*margin: 0 auto; */
  /* quando se coloca duas propriedades em 'margin' '0 auto' quer dizer 'em cima e em baixo é 0, esquerda e direita é Automático (quer dizer "preencha com o que vc tiver aí para preencher")' */
}

.section {
  padding: 5rem 0;
}

/*================= HOME ================*/
#home .container {
  margin: 0;
}
